@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This is a branch information</p>

<p>Branch / Branch /Branch</p>

<p> another P tag in Branch but Will be merge with Master</p>

<p> Develop</p>

<p> this is Develop</p>


<p>This is another Merge test (2)</p>

<p>Branch for Fix API</p>

<p>this is API BRANCH</p>