@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This is a branch information</p>

<p>Branch / Branch /Branch</p>

<p> another P tag in Branch but Will be merge with Master</p>

<p> Develop again Develop</p>